.main-image {
  width: 150px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(15, 15, 15, 0.63);
}

.vl3 {
  bottom: 20px;
}

.vl4 {
  bottom: 20px;
  left: 42px;
  border-left: 2px dotted rgb(56, 56, 56)
}

.mobile-image {
  width: 148px;
  border-radius: 7px;
  position: relative;
}

.info-container h2 {
  display: inline-block;
  font-size: 42px;
  margin: 0;
}

.tech {
  top: 192px;
}

.mv2 {
  height: 120px;
  left: 415px;
  bottom: 74px;
}

.tech-area {
  grid-column: 4/5;
  grid-row: 1/2;
  margin: auto;
  width: 160px;
  font-size: 32px;
}

.tech-area i {
  margin: 4%;
  display: inline-block;
}

@media only screen and (max-width: 760px) {
  .tech {
    top: 26px;
  }
  .info-container {
    display: inline-block;
    text-align: center;
    width: 96%;
    bottom: 84px;
  }
  .info-container h2 {
    text-align: left;
    font-size: 33px;
  }
  .p-container {
    text-align: left;
    margin: initial;
    left: 0;
  }
  .mv2 {
    height: 200px;
    left: -7px;
  }
  .hl {
    top: 2px;
    display: block;
  }
}

@media only screen and (max-width: 375px) {
  .tech {
    top: 18px;
  }
  .info-container {
    bottom: 60px;
  }
  .p-container {
    left: 0px;
  }
}