.end-project {
  border-bottom: 0.5px solid rgb(56, 56, 56);
}

.project-info {
  overflow-y: hidden;
  max-height: 0;
	transition-property: all;
	transition-duration: 0.8s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

  border-right: 0.5px solid rgb(56, 56, 56);
  border-left: 0.5px solid rgb(56, 56, 56);
  background-color: rgb(19, 19, 22);

  position: relative;
  left: 3.5px;

  cursor: default;
}

.project-info .info-background {
  margin-top: 12px;
  /* margin-left: 6px; */
  display: block;
  width: 99%;
  min-height: 320px;
  position: relative;
  left: 7px;
}

.p-container {
  text-align: left;
  max-width: 330px;
  position: relative;
  left: 56px;
}

.expanded .project-info {
  max-height: 320px;
}

.expanded:hover .project {
  cursor: pointer;
}

.info-container {
  width: 400px;
  float: right;
  position: relative;
  right: 80px;
  margin-top: 6px;
  text-align: right;
}

.vl {
  border-left: 1px solid rgb(56, 56, 56);
  height: 200px;
  position: relative;
  display: inline-block;
}

.hl {
  border-top: 1px solid rgb(56, 56, 56);
  width: 200px;
  position: relative;
  display: inline-block;
}

.project-links {
  position: relative;
  bottom: 17px;
}

.project-links a {
  display: inline-block;
  text-decoration: none;
  width: 95px;
  min-height: 47px;
  border: 0.5px solid rgb(56, 56, 56);
  padding-top: 27px;
  text-align: center;
  background-color: rgb(24, 24, 27);
  transition: all 0.2s;
  margin-right: 10px;
}

.project-links a:visited {
  color: rgb(192, 192, 192);
}

.project-links a:hover {
  background-color: rgb(29, 31, 41);
}