.end-project {
  border-bottom: 1px solid rgb(56, 56, 56);
}

.project-info {
  box-sizing: border-box;

  overflow-y: hidden;
  max-height: 0;
	transition-property: all;
	transition-duration: 0.8s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

  border-right: 1px solid rgb(56, 56, 56);
  border-left: 1px solid rgb(56, 56, 56);
  background-color: rgb(19, 19, 22);

  position: relative;

  cursor: default;
  width: 100%;
}

.last {
  border-bottom: 1px solid rgb(56, 56, 56);
}

.project-info .info-background {
  display: grid;
  grid-template-columns: 1fr 1.6fr 1fr 1fr;
  grid-template-rows: 250px 1fr;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  min-height: 700px;
  position: relative;
}

.p-container {
  position: relative;
}

.expanded .project-info {
  max-height: 700px;
}

.expanded:hover .project {
  cursor: pointer;
}

.info-container {
  position: relative;
  text-align: left;
  display: inline-block;
  margin-top: 22px;

  grid-column: 2/4;
  grid-row: 1/2;
}

.vl {
  border-left: 1px solid rgb(56, 56, 56);
  height: 200px;
  position: relative;
  display: inline-block;
}

.hl {
  border-top: 1px solid rgb(56, 56, 56);
  width: 100%;
  position: relative;
  display: inline-block;
}

.project-links {
  position: relative;
}

.project-links a {
  display: inline-block;
  text-decoration: none;
  width: 94px;
  min-height: 47px;
  border: 1px solid rgb(56, 56, 56);
  padding-top: 27px;
  text-align: center;
  background-color: rgb(24, 24, 27);
  transition: all 0.2s;
  margin-right: 10px;
  color: rgb(241, 241, 241);
}

.project-links a:visited {
  color: rgb(241, 241, 241);
}

.project-links a:hover {
  background-color: rgb(29, 31, 41);
}

.tech {
  font-size: 14px;
  font-weight: 200;

  display: inline-block;
  text-decoration: none;
  width: 95px;
  border: 1px solid rgb(56, 56, 56);
  text-align: center;

  color: rgb(241, 241, 241);
  background-color: rgb(24, 24, 27);

  transition: all 0.2s;
  margin-right: 10px;

  position: relative;
  top: 26px;

  cursor: pointer;
  outline: none;
}

.tech:hover {
  background-color: rgb(29, 31, 41);
}

.tech:hover .tech-info {
  display: block;
}

.tech-info {
  position: absolute;
  display: none;
  color: rgb(29, 31, 41);
  background-color: rgb(241, 241, 241);
  border: 1px solid rgb(29, 31, 41);;
  width: 95px;

  bottom: 20px;
  right: 0;
  left: -2px;

  transition: all 0.3s;
}

.tech-info h3 {
  margin-bottom: 0px;
  margin-top: 25px;
}

.img-container {
  margin: 20% auto;
}

@media only screen and (max-width: 760px) {
  .info-container {
    margin: auto;
    width: 99%;
    right: 0;
  }
  .project-info {
    border-right: none;
    border-left: none;
  }
  .expanded .project-info {
    max-height: 300px;
  }
  .info-background {
    min-height: 0px;
  }
  .p-container {
    margin: auto;
    left: 0;
  }
  .project-links {
    text-align: center;
  }
  .img-container {
    display: none;
  }
}

@media only screen and (max-width: 375px) {
  .project-links {
    width: 300px;
    margin: auto;
  }
  .project-links a {
    min-height: 34px;
    padding-top: 20px;
  }
  .project-links a, .project-links button {
    font-size: 12px;
    width: 70px;
  }
  .tech {
    top: 18px;
  }
  .tech-info {
    width: 69px;
  }
  .p-container {
    left: 5px;
    font-size: 14px;
    width: 90%;
  }
}