.gallery-area {
  grid-column: 1/5;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.gallery-area img {
  max-width: 500px;
  max-height: 400px;
  box-shadow: 0 4px 8px rgba(15, 15, 15, 0.63);
  border-radius: 5px;
  margin: 0 12px;
}