.about-me-container {
  width: 80%;
  min-width: 800px;
  display: grid;
  grid-template-columns: 80px 500px 1fr 80px;
  grid-template-rows: 460px 1fr;
  margin: auto;
  margin-top: 2%;
  -webkit-animation: fadein 0.2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.2s; /* Firefox < 16 */
   -ms-animation: fadein 0.2s; /* Internet Explorer */
    -o-animation: fadein 0.2s; /* Opera < 12.1 */
       animation: fadein 0.2s;
}

.about-portrait {
  margin: auto;
  grid-column: 2/3;
  grid-row: 1/2;
  max-height: 460px;
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(15, 15, 15, 0.63);
}

.contact-links {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-flow: column;
}

.contact-links * {
  color: rgb(241, 241, 241);
  font-size: 52px;
}

.contact-links a {
  display: inline-block;
  margin: auto;
}

.about-info {
  grid-column: 3/4;
  grid-row: 1/2;
  text-align: left;
  display: flex;
  justify-content: flex-end;
  flex-flow: column;
}

.about-info p {
  margin-top: 4%;
  margin-bottom: 0;
}

.about-skills {
  grid-column: 2/4;
  grid-row: 2/3;
  display: flex;
  justify-content: space-between;
}

.skills-section {
  width: 200px;
  text-align: left;
}

.skills-section ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.skills-section ul li i {
  display: inline-block;
  margin-right: 10%;
}

.skills-section ul li p {
  display: inline-block;
}